:root {
  --color-btn-primary-default: #1f1f1f;
  --color-btn-primary-hover: #fbce51;
  --color-btn-primary-disabled: #d6d6d6;
  --color-btn-secondary-default: transparent;
  --color-btn-secondary-hover: #1f1f1f;
  --color-btn-tretiary-default: transparent;
  --color-btn-tretiary-hover: #3057a2;
  --color-text-primary-default: #fff;
  --color-text-primary-hover: #1f1f1f;
  --color-text-secondary-default: #1f1f1f;
  --color-text-secondary-hover: #fff;
  --color-text-tretiary-default: #3057a2;
  --color-text-tretiary-hover: #fff;
}

.btn--primary {
  color: var(--color-text-primary-default);
  background-color: var(--color-btn-primary-default);
}

.btn--primary:hover {
  color: var(--color-text-primary-hover);
  background-color: var(--color-btn-primary-hover);
}

.btn--secondary {
  color: var(--color-text-secondary-default);
  background-color: var(--color-btn-secondary-default);
}

.btn--secondary:hover {
  color: var(--color-text-secondary-hover);
  background-color: var(--color-btn-secondary-hover);
}

.note {
  color: var(--color-text-tretiary-default);
  background-color: var(--color-btn-tretiary-default);
}

.strong {
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #f54932;
}

@media (min-width: 1366px) {
  .btn--secondary {
    color: var(--color-btn-secondary-hover);
    background-color: var(--color-btn-tretiary-default);
  }
  .btn--secondary:hover {
    color: var(--color-text-primary-default);
    background-color: var(--color-btn-secondary-hover);
  }
}
