/* Header section */

.header {
  position: relative;
  height: 774px;
  width: 374px;
  overflow: hidden;
}

/* Background */
.header__bg {
  background-color: #e9ded4;
  top: 0;
  position: absolute;
  height: 774px;
  width: 374px;
}
.header-bg__circle {
  width: 297.47px;
  position: absolute;
  left: 30.04px;
  bottom: 66.69px;
  z-index: 1;
}

.header-bg__figure--king {
  transform: rotate(-6deg);
  width: 47.44px;
  z-index: 2;
  position: absolute;
  bottom: 114.25px;
  left: 68.81px;
}
.header-bg__figure--queen {
  width: 48px;
  height: 106px;
  z-index: 2;
  position: absolute;
  right: 91.5px;
  transform: rotate(15deg);
  bottom: 167px;
}

.header-bg__city {
  min-width: 885.53px;
  position: absolute;
  right: -110px;
  bottom: -10px;
  z-index: 3;
}

.header-bg__texture {
  position: absolute;
  min-height: 812px;
  min-width: 750px;
  top: 0;
  left: -253px;
  z-index: 4;
  mix-blend-mode: color-burn;
  object-fit: cover;
}

.header-bg__figure--knight {
  transform: rotate(-10.5deg);
  z-index: 5;
  position: absolute;
  width: 76.71px;
  bottom: -13px;
  right: 141px;
}
.header-bg__figure--pawn {
  display: none;
  position: absolute;
  z-index: 5;
}

/* Header logo */
.header__logo {
  width: 13.3125rem;
  margin: 18px auto auto 20px;
}

/* Hero */
.hero__title {
  margin: 42px 20px auto 20px;
  letter-spacing: 0.7px;
}
.hero__title-second {
  display: block;
  margin: 0 auto auto 63.25px;
  letter-spacing: 0.3px;
}
.hero__title-third {
  display: block;
  text-align: right;
  letter-spacing: 0.1px;
}

.hero__desc {
  margin: 23px 20px auto 20px;
}

.hero__actions {
  margin: 32px 19px auto 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.hero__btn-cta {
  border-radius: 66px;
  padding: 18px 0;
  line-height: 11px;
}
.hero__btn-info {
  border-radius: 66px;
  padding: 18px 0;
  line-height: 11px;
}

/* Main section */
/* Marquee */
.marquee {
  margin: auto;
  max-width: 100%;
  background-color: #f54932;
  color: #fff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.marquee[data-animated="true"] {
  overflow: hidden;
}
.marquee[data-animated="true"] .marquee__track {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 26s linear infinite;
}

.marquee__track {
  padding-block: 10px;
  display: flex;
  flex-wrap: wrap;
  /* --gap: 12px; */
  /* gap: var(--gap); */
}
.marquee__track li {
  white-space: nowrap;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50%));
    /* transform: translate(calc(-50%) - var(--gap) / 2; */
  }
}
.marquee__dot {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

/* Promo */
.promo,
.promo__block {
  position: relative;
}

.promo__block--support {
  display: grid;
  margin: 48px 20px 0;
}

.promo__title {
  letter-spacing: 0.3px;
}
.promo__title--second {
  letter-spacing: 0.1px;
}

.promo__block--support__image {
  margin: 24px auto 0;
}

.promo__subtitle {
  margin: 24px auto 0;
}
.promo__subtitle--second {
  letter-spacing: 1px;
}

.support__strong--second {
  letter-spacing: -0.1px;
}

.promo__block--session {
  display: grid;
  margin: 34.34px 20px 0;
  justify-items: center;
}

.promo__block--session__image {
  position: relative;
  z-index: 3;
  margin: 0 -20px;
  min-width: 375px;
}

.promo__texture {
  position: absolute;
  min-height: 420px;
  min-width: 375px;
  top: -10px;
  left: -20px;
  z-index: 4;
  mix-blend-mode: color-burn;
  object-fit: cover;
}

.promo__text {
  margin: 24px 10px 0 0;
}
.promo__strong--second {
  letter-spacing: -0.3px;
}
.promo__strong--thrid {
  letter-spacing: -1px;
}

.info-table {
  margin: 26px auto 0;
  max-width: 100%;
  font-family: "Golos Text", sans-serif;
  border-collapse: separate;
  border-spacing: 0;
}
.info-table tr {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
  padding: 16px 0;
  border-bottom: 2px solid #d0d0d0;
}
.info-table tr:last-child {
  border-bottom: none;
}

.info-table__key,
.info-table__val {
  white-space: nowrap;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
}
.info-table__key {
  font-weight: 400;
  opacity: 0.7;
}
.info-table__val {
  font-weight: 600;
  flex: 0 0 auto;
}
.info-table__val span {
  white-space: nowrap;
  text-decoration: line-through;
  text-decoration-color: #f54932;
  margin-right: 6px;
}

.promo__note {
  margin: 25px auto 0;
}
