/* Header section */

.header {
  position: relative;
  overflow: hidden;
  width: 374px;
  height: 774px;
}

/* Background */
.header__bg {
  position: absolute;
  top: 0;
  width: 374px;
  height: 774px;
  background-color: #e9ded4;
  user-select: none;
  isolation: isolate;
}

.header-bg__circle {
  position: absolute;
  z-index: 1;
  bottom: 66.69px;
  left: 30.04px;
  width: 297.47px;
  user-select: none;
}

.header-bg__figure--king {
  position: absolute;
  z-index: 2;
  bottom: 114.25px;
  left: 68.81px;
  width: 47.44px;
  user-select: none;
  transform: rotate(-6deg);
}

.header-bg__figure--queen {
  position: absolute;
  z-index: 2;
  right: 91.5px;
  bottom: 167px;
  width: 48px;
  height: 106px;
  user-select: none;
  transform: rotate(15deg);
}

.header-bg__city {
  position: absolute;
  z-index: 3;
  right: -110px;
  bottom: -10px;
  min-width: 885.53px;
  user-select: none;
}

.header-bg__texture {
  position: absolute;
  z-index: 4;
  top: 0;
  left: -253px;
  min-width: 750px;
  min-height: 812px;
  pointer-events: none;
  user-select: none;
  mix-blend-mode: color-burn;
  object-fit: cover;
}

.header-bg__figure--knight {
  position: absolute;
  z-index: 5;
  right: 141px;
  bottom: -13px;
  width: 76.71px;
  user-select: none;
  transform: rotate(-10.5deg);
}

.header-bg__figure--pawn {
  position: absolute;
  z-index: 5;
  display: none;
  user-select: none;
}

/* Header logo */
.header__logo {
  width: 13.3125rem;
  margin: 18px auto auto 20px;
  user-select: none;
}

/* Hero */
.hero__title {
  margin: 42px 20px auto;
  letter-spacing: 0.7px;
}

.hero__title-second {
  display: block;
  margin: 0 auto auto 63.25px;
  letter-spacing: 0.3px;
}

.hero__title-third {
  display: block;
  letter-spacing: 0.1px;
  text-align: right;
}

.hero__desc {
  margin: 23px 20px auto;
}

.hero__actions {
  display: flex;
  flex-direction: column;
  margin: 32px 19px auto 20px;
  gap: 14px;
}

.hero__btn-cta {
  padding: 18px 0;
  line-height: 11px;
  border-radius: 66px;
}

.hero__btn-info {
  padding: 18px 0;
  line-height: 11px;
  border-radius: 66px;
}

/* Main section */

/* Marquee */
.marquee {
  max-width: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background-color: #f54932;
  user-select: none;
}

.marquee[data-animated="true"] {
  overflow: hidden;
}

.marquee[data-animated="true"] .marquee__track {
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee__track {
  display: flex;
  flex-wrap: wrap;
  padding-block: 10px;

  /* --gap: 12px; */

  /* gap: var(--gap); */
}

.marquee__track li {
  white-space: nowrap;
}

@keyframes scroll {
  to {
    transform: translate(calc(-25%));

    /* transform: translate(calc(-25%) - var(--gap) / 2; */
  }
}

.marquee__dot {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

/* Promo */
.promo,
.promo__block {
  position: relative;
}

.promo__block--support {
  display: grid;
  margin: 48px 20px 0;
}

.promo__title {
  letter-spacing: 0.3px;
}

.promo__title--second {
  letter-spacing: 0.1px;
}

.promo__image--support {
  margin: 24px auto 0;
  user-select: none;
}

.promo__subtitle {
  margin: 24px auto 0;
}

.promo__subtitle--second {
  letter-spacing: 1px;
}

.support__strong--second {
  letter-spacing: -0.1px;
}

.promo__block--session {
  position: relative;
  display: grid;
  margin: 0 20px;

  /* margin: 34.34px 20px 0; */
}

.promo__image-wrapper {
  position: relative;
  overflow: hidden;
  margin: 34px -20px 0;
  background: #fff;
  user-select: none;
}

.promo__image--session {
  position: relative;
  z-index: 1;

  /* min-width: 335px; */

  /* min-height: 402px; */
  top: 0;
  left: 0;
}

.promo__texture {
  position: absolute;
  z-index: 2;

  /* min-height: 374px; */

  /* min-width: 420px; */
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: color-burn;
  object-fit: cover;
}

.promo__text {
  margin: 24px 10px 0 0;
}

.promo__strong--second {
  letter-spacing: -0.3px;
}

.promo__strong--thrid {
  letter-spacing: -1px;
}

.promo__text--second {
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.info-table {
  max-width: 100%;
  margin: 28px auto 0;
  font-family: "Golos Text", sans-serif;
}

.info-table tr {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 2px solid #d0d0d0;
  gap: 12px;
}

.info-table tr:last-child {
  border-bottom: none;
}

.info-table__key,
.info-table__val {
  white-space: nowrap;
  color: #313131;
}

.info-table__key {
  font-weight: 400;
  opacity: 0.7;
}

.info-table__val {
  flex: 0 0 auto;
  font-weight: 600;
}

.info-table__val span {
  text-decoration: line-through;
  white-space: nowrap;
  text-decoration-color: #f54932;
}

.promo__note {
  margin: 26px auto 60px;
}

@media (min-width: 1366px) {
}
