h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Merriweather", serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  text-transform: none;
}

p,
button,
.note {
  font-family: "Golos Text", sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  text-transform: none;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

button {
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;

  /* Safari support */
  text-edge: cap;
}

.note {
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
}
